<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE sqlMap
        PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="Config">

    <!--main db-->

    <select id="selectAllConfigurations" resultClass="java.util.HashMap" parameterClass="java.util.HashMap">
        SELECT * FROM main_db_conf
    </select>

    <update id="updateConfiguration" parameterClass="java.util.HashMap">
        UPDATE main_db_conf SET conf_value = #confValue# WHERE conf_key = #confKey#
    </update>

    <!--sub dbs-->

    <select id="selectAllSubDBConfs" resultClass="java.util.HashMap" parameterClass="java.util.HashMap">
        SELECT * FROM sub_db_conf
    </select>

    <select id="selectSubDBConfById" resultClass="java.util.HashMap" parameterClass="java.util.HashMap">
        SELECT * FROM sub_db_conf WHERE id = #subDBConfId#
    </select>

    <insert id="insertSubDBConf" parameterClass="java.util.HashMap">
        INSERT INTO sub_db_conf (
            sub_host,
            sub_port,
            sub_name
        )
        VALUES (#host:VARCHAR#, #port:VARCHAR#, #name:VARCHAR#)
    </insert>

    <update id="updateSubDBConf" parameterClass="java.util.HashMap">
        UPDATE sub_db_conf SET sub_host = #host#, sub_port = #port#, sub_name = #name# WHERE id = #id#
    </update>

    <!--bak up history-->

    <select id="selectBakUpHistories" resultClass="java.util.HashMap" parameterClass="java.util.HashMap">
        SELECT * FROM db_back_history WHERE bak_subdb_id = #subDBConfId#
    </select>

    <insert id="insertBakUpHistory" parameterClass="java.util.HashMap">
        INSERT INTO db_back_history (
            bak_time,
            bak_year,
            bak_code,
            bak_project_id,
            bak_subdb_id
        )
        VALUES (#bakTime:VARCHAR#, #bakYear:VARCHAR#, #bakCode:VARCHAR#, #bakProjectId:INTEGER#, #bakSubdbId:INTEGER#)
    </insert>

</sqlMap>